
@{
    ViewBag.Title = "Documents";
}

<style>
    ul, #ThreeDocument, #ThreeProject {
        list-style-type: none;
    }

    #ThreeDocument, #ThreeProject {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }

    .table-container {
        margin-top: 20px;
    }
</style>

@*<h3>Administration</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="true">
                                    <h5>Documents</h5>
                                </button>
                                <button class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects" type="button" role="tab" aria-controls="nav-projects" aria-selected="false">
                                    <h5>Projects</h5>
                                </button>
                            </div>
                        </nav>

                        <a id="addButton" type="button" class="btn btn-success d-flex justify-content-center align-items-center" style="width: 150px; height: 40px;" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/Institution/GetCreate/', 'lgModalBody')">Add</a>

                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="0">
                            <div style="width:100%; margin:0 auto;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul id="ThreeDocument">
                                            </ul>
                                        </div>
                                        <div class="col-md-9 table-container">
                                            <table id="DocumentDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab" tabindex="0">
                            <div style="width:100%; margin:0 auto;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul id="ThreeProject">
                                            </ul>
                                        </div>
                                        <div class="col-md-9 table-container">
                                            <table id="ProjectDatatable" class="table table-bordered table-hover w-100 mb-1"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script>
        $(document).ready(function () {
            
            initializeDocumentThree();
            initializeDocumentDataTable();
            initializeProjectThree();
            // This boolean variable will ensure the projects data table is initialized only once
            let projectInitialized = false;

            // Add event listener to the Projects tab
            $('#nav-projects-tab').on('click', function () {
                if (!projectInitialized) {
                    // Initialize projects-related elements only the first time the tab is clicked
                    initializeProjectDataTable();
                   
                    projectInitialized = true;  // Set the flag so initialization only happens once
                }
            });
            
        });

    </script>
}
