@model BLL.DTO.UserDto



<h2>Details</h2>

<div>
    <div class="modal-body">
        <h4>User</h4>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
