@model IEnumerable<BLL.DTO.UserDto>

@{
    ViewBag.Title = "Users";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Users</h3>
                    <a type="button" style="width: 150px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl" onclick="drawPatrialView('/User/GetUpsert/'+'0', 'xlModalBody')">Add</a>

                </div>
                <div class="card-body">
                    <table id="UserDatatable" class="table table-bordered table-hover w-100 mb-1">
                    </table>
                </div>
                <div id="actions" style="display:none; padding: 5px;">
                    <a type="button" style="width: 150px;" class="btn btn-primary" id="editLink" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl" onclick="drawPatrialView('/User/GetUpsert/', 'xlModalBody')">Edit</a>
                    <a type="button" style="width: 150px;" id="detailsLink" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/User/Details/', 'lgModalBody')">Detail</a>
                    <a type="button" style="width: 150px;" id="deleteLink" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/User/Delete/', 'lgModalBody')">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            var userDataTable = initializeUserDataTable();
            setupRowClickEvents(userDataTable);
        });

    </script>
}
