@model  List<BLL.DTO.BankDTOs.YearGroup>

<h3>Operator Bancar</h3>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" onclick="drawReports('GetServiceDocuments')">
            <h5>Service Reports</h5>
        </button>

        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" onclick="drawReports('GetSLADocuments')">
            <h5>SLA Report</h5>
        </button>

        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" onclick="drawReports('GetProjects')">
            <h5>Projects</h5>
        </button>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" role="tabpanel" tabindex="0">
        <div style="width:100%; margin:0 auto;">
            <div id="_Report">
                <!--PartialView _Reports-->
            </div>
        </div>
    </div>

</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            drawPatrialView("/Bank/GetServiceDocuments", "_Report");

            $(".report-list").hide();
            $("#CardDetails").hide();
            $("body").on("click", ".caret", function () {
                toggleNested(this);
            });
        });

    </script>
}
